:root {
  --primary-color: #343fb0;
  --text-color: ##504973;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  min-height: 80vh;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 80%;
  margin: 0 auto;
}
h1 {
  color: var(--text-color);
}
.app__right {
  flex-basis: 50%;
}
.app__left {
  flex-basis: 50%;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
